/*css across all pages*/

body {
	background-image: url(../images/background2.jpg);
	background-repeat: repeat;
	background-color: #cccccc;
	margin: 0px;
}


/*keep wrapper margin*/
#wrapper{
	margin: 0px 100px 70px 100px;
}

#header{
	background-color: white;
	text-align: center;
}

#header h2 {
	text-transform: capitalize; 
	background-color: none;
}	

#header p {
	text-transform: capitalize; 
	background-color: none;
}	

.clear{
	clear: both;
}


#logo img{
	height: 100px;
	width: 100px;
	float: left;
	/*background: transparent;
	clear: inherit;*/
}


.nav {
	list-style-type: none;
	margin-top: 45px;
	padding-right: 0px;
	float: right;
}


.nav li{
	display: inline;
	padding-right: 15px;
}

.nav a{
	/*margin-top: 35px;*/	
	text-decoration: none;
	color: black;
	/*float: right;*/
	
	/*bottom: 100px;*/

}

.links a:visited {
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}


ul, ol{
	list-style: none;

}

/*ol{
	list-style: none;

}

.nav {


}
*/
.col {
	margin: 4px;
    padding: 18px;
    height: auto;
    width: 100%;
    float: left;
    background-color: none;
}


.col img{
	width: 28%;
	background-color: #A3C266;
	margin: 4px;
    padding: 8px;
    border: 1px solid #A3C266;
}

.gallery img{
	width: 45%;
	background-color: #A3C266;
	margin: 4px;
    padding: 8px;
    border: 1px solid #A3C266;
}

/*.col{
	float: left;
	width: 31%;
	text-indent: left;
	background-color: red;
}*/


/*.col img{
	/*background-color: red;*/
	/*height: 324px;
	width: 224px;
}*/

#footer

#footer_links

#footer_copyright

/* css for Property subpage */

#Property_1_About

#property_title

#property_features

#property_description

/* css for About page */

#about

/* css for Home page */

#contact

.name_contact

.email_contact

.comment_contact

.button_contact